.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.container {
  margin-top: 20px;
}

.gridList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 4rem 2rem;
}

img {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

input {
  padding: 10px;
  min-width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

button {
  padding: 9px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  background-color: green;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.loading {
  text-align: center;
  font-weight: bold;
}

button:disabled {
  background-color: lightgray;
}